<!DOCTYPE html>
<html>
<head>
    <title>Enter Passcode</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Enter Your Passcode</h1>
        <form method="post" action="/enter_passcode">
            <div class="form-group">
                <input type="text" name="passcode" class="form-control" placeholder="Enter your passcode" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <a href="/" class="btn btn-link mt-3">Back to Home</a>
    </div>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
